.Catalogo {
    width: 90%;
    margin: 1.5em auto;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
}

.Catalogo .productoCatalogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleCatalogo {
    font-family: "ColgateReady-Bold";
    text-align: center;
    font-size: 3em;
    font-style: italic;
    color: #8a8887;
    margin: 2em 0 1em;
}

.imgCatalogo {
    width: 85%;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonsCatalogo {
    display: flex;
    align-self: flex-start;
    margin-left: 6em;
    height: 20px;
}

@media only screen and (max-width: 770px) {
    .imgCatalogo {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .Catalogo {
        width: 100%;
        margin: 5em auto 1.5em;
        padding: 0 0.5em;
    }

    .titleCatalogo {
        font-size: 1.5em;
    }

    .imgCatalogo {
        width: 100%;
    }

    .buttonsCatalogo {
        display: flex;
        flex-direction: row;
        margin-left: 0em;
        height: 10px;
    }
}