nav.navbar{
    position: fixed;
    width: 100%;
    z-index: 10000;
    top: 0;
}

a.navbar-brand{
    background: transparent;
    width: 175px;
}

img.imgNav{
    width: 6em;
    height: auto;
    position: absolute;
    top: -14px;
    left: 3em;
}

a.nav-link{
    background: transparent;
    font-size: 0.96em;
}

a.nav-link:hover{
    font-weight: 500 !important;
    color: #d2010d !important;
}

h3.navTitle{
    display: none;
}

@media only screen and (max-width: 480px) {
    img.imgNav{
        width: 30%;
        height: 30%;
        position: static;
    }

    h3.navTitle{
        display: block;
        position: absolute;
        top: 25px;
        right: 50%;

        font-size: 1em;
        text-align: center;
        font-weight: 500;
        color: #d2010d;
        font-family: "ColgateReady-Bold";
    }

    .collapse .btn{
        display: none;
    }
}