nav.navbar{
    position: fixed;
    width: 100%;
    z-index: 10000;
    top: 0;
}

a.navbar-brand{
    background: transparent;
    width: 175px;
}

img.imgNav{
    width: 6em;
    position: absolute;
    top: -14px;
    left: 3em;
}

a.nav-link{
    background: transparent;
}

a.nav-link:hover{
    font-weight: 500 !important;
    color: #d2010d !important;
}

h3.navTitle{
    display: none;
}

@media only screen and (max-width: 480px) {
    img.imgNav{
        width: 30%;
        height: 30%;
        position: static;
    }

    h3.navTitle{
        display: block;
        position: absolute;
        top: 25px;
        left: 90px;

        font-size: 1em;
        text-align: center;
        font-weight: 500;
        color: #d2010d;
        font-family: "ColgateReady-Bold";
        /* font-style: italic; */
    }
    /* .container-fluid{
        display: flex;
        flex-wrap: nowrap !important;
        align-items: center;
        justify-content: space-between;
    }
    a.navbar-brand{
        background: transparent;
        width: 50px;
    }
    /* img.imgNav{
        width: 3em;
        position: absolute;
        top: 0px;
        left: 1em;
    } 

    h3.navbar-toggler{       
        border: 0px;

        font-size: 1em;
        font-family: "ColgateReady-Bold";
        color: #d2010d;
        text-align: center;

        position: absolute;
    } */
}