.swiper-button-prev, .swiper-button-next, .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{
    --swiper-theme-color:red;
    --swiper-navigation-size:50px;
}

.swiper-slide img{
    border-bottom-right-radius: 100px;
}